<!-- 
<mat-sidenav-container>
  <mat-sidenav>Start</mat-sidenav>
  <mat-sidenav position="end">End</mat-sidenav>
  <section>Main</section>
</mat-sidenav-container> -->

<div class="container">
    <div class="sidebar">
      <nav>
        <ul>
          <li><a routerLink="/users">Users</a></li>
          <li><a routerLink="/products">Products</a></li>
          <li><a routerLink="/sales">Sales</a></li>
          <li><a routerLink="/intel">Intel</a></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  